/*@tailwind base;
@tailwind components;*/
/*@tailwind utilities;*/

$bg: #332f35;
$fg: lighten($bg,20%);
$borderWidth: 3px;

body {
  background: $bg;
  font-family: roboto;
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  color: lighten($bg,40%);
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
}

input[type=radio]:checked + label{
  color: lighten($bg,60%);
  background: blue;
  border-radius: 1em;
}

label + input[type=radio] + label {
  border-left: solid $borderWidth $fg;
}
.radio-group {
  border: solid $borderWidth $fg;
  display: inline-block;
  margin: 20px;
  border-radius: 16px;
  background: #353548;
  overflow: hidden;
  font-size: 0.8em;
  float: right;
}

.filter-switch label {
  cursor: pointer;
}
.filter-switch-item input:checked + label {
  color: white;
  background: #0d44ff;
  border-radius: 2em;
}
.filter-switch-item input:not(:checked) + label {
  --bg-opacity: 0;
  box-shadow: none;
  border-radius: 2em;
}

.percentChange {
  float: right;
  color: #31d0aa;
  font-size: 1.3em;
}

.logo {
  width: 50px;
  height: 48px;
  margin: 0px 0px -15px -30px;
}

.larelogo {
  height: 25px !important;
}

.lareimg {
  width: 140px !important;
  height: 140px !important;
}

.jackpot {
  font-weight: bold;
  font-size: 1.5em;
  color: blue;
  float: right;
  margin:  0;
}

/*select {
  padding: 15px;
  border-radius: 3px;
  height: 50px;
  color: #ffffff;
  padding-right: 30px;
  font-size: 14px;
  border-color: blue;
  position: relative;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: blue url("data:image/svg;utf8,<svg preserveAspectRatio='xMidYMid meet' data-bbox='43 43 114 114' viewBox='43 43 114 114' height='25' width='25' xmlns='http://www.w3.org/2000/svg' data-type='color' role='presentation' aria-hidden='true' aria-labelledby='svgcid-qkt1zze455h2'><title id='svgcid-qkt1zze455h2'></title><g><path d='M99.999 43C68.57 43 43 68.57 43 100s25.57 57 56.999 57S157 131.43 157 100s-25.572-57-57.001-57zm-48.587 57c0-1.723.094-3.427.27-5.106 4.069-3.703 12.211-7.377 23.652-9.638a145.705 145.705 0 0 0-.738 14.713c0 5.074.256 10.028.745 14.775-11.446-2.261-19.59-5.937-23.659-9.643a48.558 48.558 0 0 1-.27-5.101zm31.594-.031c0-5.772.341-11.121.918-16.046a137.8 137.8 0 0 1 16.046-.918c5.797 0 11.165.343 16.104.925.58 4.925.919 10.269.919 16.039 0 5.794-.341 11.161-.925 16.097-4.936.582-10.302.925-16.097.925-5.77 0-11.114-.339-16.039-.918a137.305 137.305 0 0 1-.926-16.104zm41.658-14.706c11.477 2.276 19.62 5.973 23.666 9.698a49.466 49.466 0 0 1 0 10.071c-4.047 3.728-12.191 7.427-23.67 9.701.486-4.742.745-9.692.745-14.764-.001-5.05-.257-9.977-.741-14.706zm20.937-2.038c-5.957-2.918-13.544-5.208-22.123-6.695-1.478-8.568-3.759-16.153-6.664-22.115 13.301 4.921 23.877 15.504 28.787 28.81zm-40.496-31.543c3.703 4.069 7.377 12.213 9.64 23.657a145.41 145.41 0 0 0-14.775-.745c-5.052 0-9.986.256-14.712.74 2.261-11.442 5.933-19.584 9.636-23.653 1.679-.176 3.382-.27 5.105-.27s3.427.095 5.106.271zm-21.921 2.731C80.281 60.372 78 67.955 76.522 76.521c-8.568 1.478-16.148 3.759-22.108 6.666 4.917-13.29 15.485-23.858 28.77-28.774zm-28.771 62.398c5.962 2.907 13.548 5.186 22.121 6.666 1.485 8.579 3.774 16.166 6.693 22.124-13.308-4.908-23.894-15.487-28.814-28.79zm40.552 31.518c-3.726-4.044-7.424-12.189-9.701-23.666 4.729.484 9.656.74 14.706.74 5.072 0 10.022-.259 14.764-.747-2.274 11.482-5.973 19.627-9.698 23.673a49.28 49.28 0 0 1-10.071 0zm21.809-2.728c2.921-5.96 5.208-13.549 6.693-22.135 8.586-1.485 16.177-3.772 22.134-6.693-4.912 13.319-15.506 23.914-28.827 28.828z' fill='#2F54DD' data-color='1'></path></g></svg>") no-repeat;
  background-position: right 5px top 50%;
}*/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: "Avenir Heavy";
  src: url("./Avenir-Heavy.ttf");
}

.pooltable {
  background: white;
}

table {
  padding: 3em;
  border-radius: 1em;
}

.connect {
  color: white !important;
  background: #2e58ff;
  border-radius: 3em;
  padding: 0.7em 3em !important;
  font-weight: bold;
}

.connect:hover {
  color: #2e58ff !important; 
  background: white;
  transition:  0.5s;
}

.home {
  display: flex;
  width: 975px;
  float: right;
  flex-wrap: wrap;
}

.home div img {
  height: 125px;
  width: 125px;
  display: inline-block;
}

.home div h2 {
  display: inline-block;
  float: right;
}

.bridge {
  flex-direction: column;
}

label {
  color: white;
}

.luckyCard {
  width: 900px;
  height: 150px;
  background: white;
  border-radius: 0.5em;
  padding: 2em;
  margin: 1em;
  display: flex;
}

.luckyPrice {
  display: inline-block;
}

.languages {
  display: none;
}

.lang {
  cursor: pointer;
}

.cardLeft {
  flex:  15%;
}

.cardRight {
  flex: 20%;
}

.usdc {
  float: inherit !important;
  margin: 0;
}

#counter {
  font-weight: normal;
  letter-spacing: 15px;
  padding: 6px;
  font-size: 1.8em;
  font-family: 'Arial';
  width: 400px;
  text-align: center;
  height: auto;
  color: white;
  background: #051652;
  display:block;
  margin:0px auto;
  vertical-align:middle;
}

.card {
  width: 420px;
  height: 160px;
  background: white;
  border-radius: 0.5em;
  padding: 1em;
  margin: 1em;
  display: inline-block;
}

.cardHeading {
  font-size: 28px;
  font-family: Raleway;
}

.swapLeft {
  background: #131d3d;
  padding: 1em;
  flex: 60%;
  border: 1px solid white;
  border-radius: 2em;
}

.swapLeft span {
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
  font-family: 'Raleway';
}

.swapRight {
  background: blue;
  border-radius: 2em;
  border: 1px solid white;
  padding: 1em;
  color: white;
  flex: 30%;
  margin-left: 1em;
}

.swapSettings svg {
  padding: 0.5em;
}

.swapLink {
  color: blue;
}

.swapNumber {
  padding-top: 1em;
  color: white;
}

.arrows {
  color: blue;
}

.expand {
  color: grey;
  float: right;
}

.sideNavDiv {
  display: inline-block;
  flex: 15%;
}

.sideNavDiv img {
  display: inline-block;
  width: 2em;
}

.sideNavDiv span {
    font-weight: bold;
    font-size: 1.2em;
    color: white;
}

.footerImages li {
  display: inline-block;
  margin: 0 10px 0 0;;
}

.logoDiv a {
  padding: 0 !important;
}

.logoDiv, #nav {
  display: inline-block;
}

.tokenAddress {
  background: white;
  color: blue;
  font-weight: bold;
  float: right;
  margin-top: 7em;
  margin-right: 3em;
}

.copyToken {
  float: right;
  margin-top: 9em;
  margin-right: -32em;
  background: blue;
  padding: 0.5em;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.5em;
}

footer {
  background-color: #051652;
  text-align: center;
  padding: 2em;
}

footer img {
  width: 39px;
  height: 39px;
  object-fit: cover;
  object-position: 50% 50%;
}

footer a {
  color: rgb(158,193,247);
}

.footerNavDiv, .footerImagesDiv {
  display: inline-block;
}

.footerLinks {
  color: rgb(158,193,247);
}


.NavBar {
  position: fixed !important;
  padding: 0.6em;
  background: white;
  width: 100%;
}

.NavBar a {
  padding: 40px;
  font-family: Avenir Heavy;
  text-decoration: none;
  color: rgb(24,78,158);
}

.NavBar a:hover {
  color: blue;
  transition: 1s;
}


#nav {
  padding: 0;
}

#nav li {
  display: inline-block;
}

header {
  text-align: center;
}

#filled-basic {
  display: block;
}

.sideNav {
  font-family: Raleway;
  color:  white;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.dex {
  width: 80%;
  padding: 9em;
  display: flex;
  width: 80%;
}

.dex p {
  font-size: 18px;
}

button {
  background: #0d44ff;
  border: none;
  display: block;
  color: white;
  padding: 1em 2em;
  margin: 2em;
  font-size: 1em;
  font-weight: bold;
  font-family: Raleway;
  border: none;
  border-radius: 0.5em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loginNav {
  display: inline-block;
}

.modalFields div {
  display: block;
}

.divButtons {
  text-align: center;
}

.divButtons button {
  margin: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
